<div class="container home-container pt-5 pb-5">
  <div class="row">
    <div class="col landing-image">
        <img class="img-home" src="//d117h1jjiq768j.cloudfront.net/images/default-source/home/homepage_banner.jpg?sfvrsn=b38140b5_2">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 announcement text-center">
      <div><strong>Asp.NET</strong></div>
      <div class="announcement-text">
          <strong>Syntax3rror</strong> is seeking a talented and experienced Full Stack .NET Web Developer to join our online development team in NYC.
      </div>
      <br><br><br>
        <a class="btn btn-primary" routerLink="/listrequests">Apply now</a>
    </div>
    <div class="col-md-4 announcement text-center">
      <div>
          <div><strong>Asp.NET</strong></div>
          <div class="announcement-text">
              <strong>Syntax3rror</strong> is looking for Angular.JS 2 Developer for an immediate need. The applicants should have strong experience in Angular.JS 2. This is a client facing role & the candidate will have regular interactions with various client managers.
          </div>
          <br>
      </div>
      <a class="btn btn-primary" routerLink="/listrequests">Apply now</a>
    </div>
    <div class="col-md-4 announcement announcement-text bc-ads text-center">
      <div>
          <div><strong>BoxCore.Net</strong></div>
          <div class="announcement-text">
              <strong>Syntax3rror</strong> is proud to announce that it is the company that invented all CrossFit-athletes favorit: <strong>BoxCore</strong> .
          </div>
          <br><br><br>
      </div>
      <a href="https://www.boxcore.net/" class="btn btn-success" target="_blank">Take a look</a>
    </div>
  </div>
</div>
