.img-home{
    width: 100%;
    height: 100%;
}
.home-container{
    height: 100%;
}
.announcement{
    border:1px #ccc solid;;
    border-radius: 0.01px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.announcement-text{
    font-family:  "Times New Roman", Times, serif;
}
.bc-ads{
 
}
.landing-image{
    padding: 0 !important;
}
