<div class="container">
  <div class="row">
    <div class="col mt-5 mb-5">
      <table class="request-table table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>E-mail</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests | async">
            <td>{{request.name}}</td>
            <td>{{request.company}}</td>
            <td>{{request.email}}</td>
            <td>{{request.title}}</td>
            <td>{{request.description}}</td>
            <td>
              <table class="request-date-table">
                <tr>
                  <td>{{request.dateFrom.year}}-{{request.dateFrom.month}}-{{request.dateFrom.day}}</td><span id="request-date-table-span">to</span>
                  <td>{{request.dateTo.year}}-{{request.dateTo.month}}-{{request.dateTo.day}}</td>
                </tr>
              </table>
            </td>
            <td class="text-center">
              <a id="table-edit" [routerLink]="['/contact' ,request.key]">
                <fa name="pencil" size="lg">
                </fa>
              </a>
            </td>
            <td id="table-trash" class="text-center" style="cursor: pointer;" (click)="deleteRequest(request.key)">
              <fa name="trash-o" size="lg"></fa>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>