<h4>Job Request</h4>
<form [formGroup]="requestForm">
  <div class="form-group">
    <label class="center-block">Name
      <input class="form-control" formControlName="name">
    </label>
    <br/>
    <label class="center-block">E-mail
      <input class="form-control" formControlName="email">
    </label>
    <br/>
    <label class="center-block">Title
      <input class="form-control" formControlName="title">
    </label>
    <br/>
    <label class="center-block">Description
      <input class="form-control" formControlName="description">
    </label>
    <br/>
  </div>
  <!-- <label class="center-block">From
    <div class="input-group">
      <input class="form-control" formControlName="dateFrom" placeholder="yyyy-mm-dd" ngbDatepicker #dateFrom="ngbDatepicker">
      <button class="input-group-addon" (click)="dateFrom.toggle()" type="button">
        <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
      </button>
    </div>
  </label>
  <br/>
  <label class="center-block">To
    <div class="input-group">
      <input class="form-control" formControlName="dateTo" placeholder="yyyy-mm-dd" ngbDatepicker #dateTo="ngbDatepicker">
      <button class="input-group-addon" (click)="dateTo.toggle()" type="button">
        <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
      </button>
    </div>
  </label>
  <br/> -->
  <pre>{{ requestForm.value | json }}</pre>
</form>